<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="/css/product2.css">
</head>
<body>
    <h1>Edit Egg Dish</h1>

    <div class="form-container">
        <form action="/update-product/<%= product._id %>" method="POST">
            <input type="text" name="title" value="<%= product.title %>" required>
            <input type="text" name="description" value="<%= product.description %>" required>
            <input type="number" name="price" value="<%= product.price %>" required>
            <input type="text" name="image" value="<%= product.image %>" required>
            <button type="submit">Update Product</button>
        </form>
    </div>
</body>
</html>
